NEXT_PUBLIC_SUPABASE_URL=https://lqduwieteamxlbnsjyxb.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=replace-with-supabase-publishable-key
ESPN_LEAGUE_ID=649127
ESPN_SWID={replace-with-espn-swid}
ESPN_S2=replace-with-espn-s2
